*{
    box-sizing: border-box;
}

body{
    margin: 0;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
}

.flex{
    display: flex;
    
    picture{
        width: 50%;


    }
    p{
        width: 50%;
    }
    img{
        width: 100%;
        height: auto;
        object-fit: cover;
    }

    

}

